@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-1: #1c7c54;
    --color-2: #73e2a7;
    --color-3: #def4c6;
    --color-4: #ffffff;
    --color-5: #111827;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: var(--color-5);
}


header {
    background-color: var(--color-1);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: var(--color-4);
}

header h1 {
    color: var(--color-4);
    font-family: 'Lemon', cursive !important;
    font-weight: bolder;
}


header span {
    color: var(--color-4);
    font-size: 20px;
}


nav {
    display: flex;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

li {
    color: var(--color-4);
    text-align: center;
}

a {
    color: var(--color-4);
    display: flex;
    flex-direction: column;
}

a:hover {
    color: var(--color-3);
}

li span {
    font-size: 10px;
}

.container {
    padding: 30px 20px;
    margin: 0 auto;
    width: 100%;
    height: calc(100vh - 150px);
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
}

.table_container {
    height: 650px;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}

.box {
    width: 40%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    gap: 20px;
    user-select: none;
    padding: 20px;
}

.header_table {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file_container {
    user-select: none;
    width: 100%;
    height: 85%;
    border: 2px var(--color-2) dashed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.file_container span {
    z-index: 1;
    font-size: 20px;
    font-weight: 400;
    display: block;
    color: #999;
}

.file_container input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.container_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.container_button button {
    padding: 15px 100px;
    cursor: pointer;
    background-color: var(--color-1);
    border-radius: 5px;
    border: none;
    color: var(--color-4);
    font-size: 20px;
    transition: .2s;
}


.container_button button:hover {
    background-color: var(--color-2);
    transition: .2s;
}

.container_button button:disabled {
    background-color: #ccc;
}

table {
    width: 100%;
    border-collapse: collapse
}

table th {
    text-align: start;
    height: 50px;
    padding: 5px;
    border: 1px solid #cecccc;
    color: var(--color-4);
}

table td {
    text-align: start;
    height: 40px;
    padding: 5px;
    border: 1px solid #cecccc;
}

table th,
table td {
    text-align: center;
}

#deleteButton {
    padding: 8px 20px;
    color: var(--color-4);
    border-radius: 3px;
    background-color: #ff3c38ba;
    cursor: pointer;
    border: none;
}

#searchInput {
    padding: 8px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    width: 20%;
}

th input {
    padding: 5px 10px;
    outline: none;

}

td input {
    border-radius: 5px;
    border: none;
    background: #def4c6;
    padding: 5px 10px;
    outline: none;
}


@media (max-width: 1400px) {

    .container {
        padding: 20px 40px;
    }

    .container_button {
        margin-top: 20px;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        position: relative;
    }

    .box {
        width: 80%;
        height: 480px;
    }

    .table_container {
        width: 100%;
        height: 425px;
    }

}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
